body{
    margin: 0px;
}
li {
    display: inline;
}
h1{
    margin: 0px;
    font-size: 40px;
}
button {
    background-color:white;
    border: none;
    color: black;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: 20px;
    right: 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    size: 0px;
  }

.NavList{
    align-items: center;
    text-align: right;
    
    text-decoration: none;
}
.NavBar a{
    text-decoration: none;
    color: black;
}

.logo{
    font-size: 36px;
    color: white;
    position: relative;
    top: 20px;
    left: 10px;
}

.NavBar {
    background-color:rgb(39, 40, 41);
    
}

.Mid {
    padding: 40px; 
    text-align: left;
    text-align-last: auto; 
}



p {
    font-size: 18px;
    color:rgb(39, 40, 41) ;
    line-height: 1.6;
    text-align: center;
}


.Intro{
    padding: 25px;
    text-align: left;
    position: relative;
    left: 10px;


}


.first{
    width: 50%;
    float: left;

}
.second{
    width: 25%;
    float: right;


}

.Com{
    text-align: center;
}

.MidSec{
    
    background-image: url("./Pic7.jpg");
  min-height:  600px;
    background-repeat: no-repeat;
    background-size: cover;

   

}
.big{
    font-size: xx-large;
    font-weight: bolder;
margin-left: 200px;
margin-right: 300px;
}
.pic{
    margin: 20px;
    border:2px solid black;
    
}
.course{
    background-color: rgb(150, 182, 197);
}
.text{
    font-weight: bold;
    font-size: larger;
}
.pict{
    margin: 40px;
    border:2px solid black;
    
}
.footer{
       
 display :flex;
 justify-content: center;
    background-color: rgb(37, 43, 72);
}
.foot{
    color: white;
    font-size: x-large;
    font-weight: bolder;
}
