body{
    margin: 0px;
}
li {
    display: inline;
}
h1{
    margin: 0px;
    font-size: 40px;
}
button {
    background-color:white;
    border: none;
    color: rgb(39, 40, 41);
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: 20px;
    right: 20px;
    margin: 5px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    size: 0px;
  }

.NavList{
    align-items: center;
    text-align: right;
}

.logo{
    font-size: 36px;
    color: white;
    position: relative;
    top: 20px;
    left: 10px;
}

.NavBar {
    background-color:rgb(39, 40, 41);
    
}

.Mid {
    padding: 40px; 
    text-align: left;
    text-align-last: auto; 
}



p {
    font-size: 18px;
    color:rgb(39, 40, 41) ;
    line-height: 1.6;
    text-align: center;
}

.Intro{
    padding: 25px;
    text-align: left;
    position: relative;
    left: 10px;


}


.first{
    width: 50%;
    float: left;

}
.second{
    width: 25%;
    float: right;


}

.Com{
    text-align: center;
}

.MidSec{
    
    background-image: url("https://i.pinimg.com/564x/7b/57/79/7b577977e9bfcfa35578246e5c0d9fab.jpg");
    height: 100vh;
    background-size: 100%;

}